<!DOCTYPE html>
<html lang="en">
<%- include('./../layout/head') %>

  <body>
    <%- include('./../layout/header') %>
      <!-- <h1>Home Page</h1> -->
      <section id="aboutUs">
        <h1>About Us</h1>
        <div class="theTeam">
          <img src="assets/Irwin.jpg" alt="">
          <div><h2>Irwin Ayala</h2>
          <p>I’m an Air Force veteran with over 10 years of law enforcement experience. I used to run a small business
            in the oil and gas industry, but we were forced to end operations due to COVID-19. The pandemic came
            precisely during a time when I was considering moving away from the oil field and starting a lifestyle in
            which I would feel accomplished. I have always been passionate about computers and how they worked. I’ve
            considered different avenues to learn coding throughout the years, but I just wasn’t sure I wanted to get
            another 4-year degree. Research brought me to Code-Fellows, and I was instantly attracted at the prospect of
            being able to learn to code in a relatively fast manner. With my education at Code-Fellows, I hope to become
            a full-stack software developer.</p>
        </div></div>
        <div class="theTeam">
          <img src="assets/Matt.jpg" alt="">
          <div><h2>Matthew Simms</h2>
          <p>I am an 11 year veteran of the United States Army. I've spent the last 6 years as Army Aviator, and the last two of those years as an Instructor Pilot for the CH-47F Chinook Helicopter.<br> 
            I decided to become a Software Developer because it's a field that I have had very limited knowledge on yet always found it enticing. I love to learn new things, be challenged, see growth and progress in myself, work in a team environment, and have a final product that showcases a specific challenge when completed. Software Development, as I have realized, fits that to the T.<br>
            I truly enjoy collaborating with other people toward a common goal and value the idea of using each others strengths together to build a team.
            I find myself thriving in small group settings, singularly focused, with an achievable goal that everyone can share in reaching, and truly feeling the rewards of that hard work and dedication.<br>  I have spent the last 11 years in the U.S. Army; three years as a Combat Medic, six years as a CH-47F Pilot-In-Command, and the last two years as an Instructor Pilot. <br />
            Major accomplishments and awards include: Completion of U.S. Army Ranger School; U.S. Army Flight School; Army Accommodation Medal with "V" device and "C" device.<br />
            The skills I've developed have been in Leadership, Team Work, Team Building, Project Management, Problem Solving, and Time Management.
            The time I have spent in the military has allowed me to develop a sense of grit and "stick-with-It-ness" that follows me into every aspect of my life; especially when it comes to challenges in the Tech industry. To me, the desired outcome of a given project or challenge IS the source of motivation, and my own internal drive is fueled by that motivation. 
            I am full of ambition and drive. I am creative. I am a leader, but also a follower. I am supportive, and I do not shy away from a challenge. I am very optimistic about the future, and look forward to the next step in my journey.</p>
        </div></div>
        <div class="theTeam">
          <img src="assets/Nicki.jpg" alt="">
          <div><h2>Nicki Baldwin</h2>
          <p>Hello everyone! I spent the past 8 years as a hairstylist- studying art, design and fashion. Prior to beauty school, I studied marketing at university. Both experiences allowed me to develop my mind and my eye. Now, enter coding bootcamp. I am seeking to utilize my previous experiences around art and design, and apply them to the technical skills I am developing. I really look forward to continued growth and development as I grow as a software developer. I'm looking to work amongst a team of collaborative and creative individuals, utilizing everyones individual skillset to create the best viable product. My previous experiences allowed me to develop my customer relations and art/design skills, which I believe will be greatly beneficial in my journey into the tech industry.</p>
        </div></div>
        <div class="theTeam">
          <img src="assets/Ted.jpg" alt="">
          <div><h2>Ted Knecht</h2>
          <p>Originally from Fox Island Washington I spent 11 years in the US Navy as an avionic technician. I have always had a passion for making things and solving problems in efficient ways. 
            I spend most of my time designing and prototyping. I run a few 3D printers and am also passionate about robotics and game design. All of my favorite hobbies involve tech and in many ways software. I look forward to a career in the software development space and the unique challenges it will present.</p>
        </div></div>
      </section>
      <%- include('./../layout/footer') %>
  </body>

</html>