<!DOCTYPE html>
<html lang="en">
<%- include('./../layout/head') %>

  <body>
    <%- include('./../layout/header') %>
      <!-- <h1>Home Page</h1> -->
      <section id="aboutUs">
        <h2>About Us</h2>
        <div class="theTeam">
          <h2>Irwin Ayala</h2>
          <img src="assets/Irwin.jpg" alt="">
          <p>I’m an Air Force veteran with over 10 years of law enforcement experience. I used to run a small business
            in the oil and gas industry, but we were forced to end operations due to COVID-19. The pandemic came
            precisely during a time when I was considering moving away from the oil field and starting a lifestyle in
            which I would feel accomplished. I have always been passionate about computers and how they worked. I’ve
            considered different avenues to learn coding throughout the years, but I just wasn’t sure I wanted to get
            another 4-year degree. Research brought me to Code-Fellows, and I was instantly attracted at the prospect of
            being able to learn to code in a relatively fast manner. With my education at Code-Fellows, I hope to become
            a full-stack software developer.</p>
        </div>
        <div class="theTeam">
          <h2></h2>
          <img src="" alt="">
          <p></p>
        </div>
        </div>
        <div class="theTeam">
          <h2></h2>
          <img src="" alt="">
          <p></p>
        </div>
        </div>
        <div class="theTeam">
          <h2></h2>
          <img src="" alt="">
          <p></p>
        </div>
      </section>
      <%- include('./../layout/footer') %>
  </body>

</html>