<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Route Generator</title>
    <link rel="stylesheet" href="./../styles/base.css">
</head>
<%- include('./../layout/head') %>
<body>
    <%- include('./../layout/header') %>
    <h1>show page</h1>
    <div></div>
    <%- include('./../layout/footer') %>
</body>
</html>