<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Roadtrip Planner</title>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <link rel="stylesheet" href="./../styles/base.css">
        <link rel="stylesheet" href="./../styles/layout.css">
        <link rel="stylesheet" href="./../styles/modules.css">
        <script src="./../../app.js"></script>
    </head>


<body>
    <%- include('./../layout/header') %>
    <div id="heading">
        <h1>Your Route</h1>
        <a href="/save"><h2 id="savebutton">Save Route</h2></a>
    </div>
    <div id="map"></div>
    <div id="list">
        <ul></ul>
    </div>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-dTRvv8zLeknO1PlTo27lXeWbC3JxCg4&callback=initMap&libraries=places&v=weekly"
    async
  ></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    
    <%- include('./../layout/footer') %>
</body>
</html>