body {
    display: flex;
    flex-direction: column;
    background-color: #777c88;
    color: rgb(45, 46, 48);
    text-shadow: rgb(31, 31, 31);
    min-width: 480px;
    max-width:760px;
    margin: auto;
}
header {
    display: flex;
    background-color: #494d55;
    color:rgb(255, 251, 251);
    width: 100%;
    margin:auto;
    /* height:100px; */
}

header svg {
    margin-left: auto;
    align-self: center;
    margin-right: 20px;
}

h1 {
    font-size: 50pt;
    margin: auto;
}
img {
    margin:auto;
}
#one {
    display: flex;
    flex-direction: column;
    border: thick solid rgb(49, 53, 58);
    background-color: #616a7b;
    width: 95%;
    height: 600px;
    margin:auto;
}
#one form {
    display:flex;
    flex-direction: column;
    width:95%;
    align-self: center;
}
#one form input,#one form select{
    height: 50px;
    font-size: 25pt;
}
