<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roadtrip Planner</title>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./../styles/reset.css">
    <link rel="stylesheet" href="./../styles/base.css">
    <link rel="stylesheet" href="./../styles/layout.css">
    <link rel="stylesheet" href="./../styles/modules.css">

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
   
    <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&family=Roboto+Condensed&display=swap" rel="stylesheet">

    <script src="./../../public/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>